node_modules/
.next/
storybook-static/
out/
coverage/
junit.xml
.DS_Store
.env*local
.env.local
logs
*.log
npm-debug.log*
pids
*.pid
*.seed
*.pid.lock
.npm
.eslintcache
.node_repl_history
*.tgz
.idea/
.cache/
*.swp
*.iml
.swc/

*storybook.log
.azure
.jfrog/*